<h1>Contacter le support via Linkedin : </h1>

<ul>
  <li>
  <img src="{{laptop}}"><br><br>
    <a href="https://www.linkedin.com/in/vincent-leurart-a1650b183/">Leurart Vincent</a>
  </li><br><br><br><br><br>
  <li>
  <img src="{{laptop}}"><br><br>
    <a href="https://www.linkedin.com/in/david-orient-874103183/">Orient David</a>
  </li><br><br><br><br><br>
  <li>
  <img src="{{laptop}}"><br><br>
    <a href="https://www.linkedin.com/in/maxime-janssens-6a176a183/">Maxime Janssens</a>
  </li>
</ul>
