<div class="acceuil">

  <h1 class="welcome">BIENVENUE <!--{{currentUser.nomUtilisateur}} {{currentUser.prenomUtilisateur}}--></h1>

</div>
<br>
<div>
  <div class="view2">
    <img src="{{newHorizon}}" width="700px" height="393px"/>
  </div>
</div>
<h1>Que pouvons-nous vous proposer ?</h1>
<hr>
<div class="card">
  <img src="{{desc1}}" width="25%" height="20%" class="imgDesc">
  <p class="desc">Notre objectif est de vous proposer le meilleur de l'informatique au meilleur prix.</p>
</div>

<div class="card">
  <img src="{{desc2}}" width="25%" height="20%" class="imgDesc">
  <p class="desc">Toujours jusqu'au limite de l'informatique.</p>
</div>
<br>

<h1>Nos partenaires</h1>
<hr>
<img src="{{desc3}}" width="95%" id="home3">

<br><br><br>

