<div class="acceuil">

  <h1 class="welcome">BIENVENUE</h1>

</div>
<br>
<div>
  <div class="view2">
    <img src="{{newHorizon}}" width="700px" height="393px"/>
  </div>
</div>
<br><br><br><br>

<h1>Hi {{currentUser.nomUtilisateur}} {{currentUser.prenomUtilisateur}}!</h1>
<p>You're logged in with Angular 8!!</p>
<h3>All registered users:</h3>
<ul>
  <li *ngFor="let user of users">
    {{user.username}} ({{user.nomUtilisateur}} {{user.prenomUtilisateur}})
    - <a (click)="deleteUser(user.mail)" class="text-danger">Delete</a>
  </li>
</ul>

