img{
  width: 20%;
  height: 200px;
}

.ordinateur{
  margin-top: 10%;
  margin-left: 8%;
  margin-right: 8%;
}

li{
  text-decoration: none;
}

.nom{
  font-size: 50px;
}

.prix{
  color: red;
  font-size: 50px;
}
