<header></header>
<router-outlet>
<nav>
  <a [routerLink]="'/'+ACCUEIL">
    <img src="{{logoPath}}" width="100px" height="100px"/>
  </a>
  <ul>
    <li>
      <a [routerLink]="'/'+ACCUEIL">Accueil</a>
    </li>
    <li class="items">
      <a [routerLink]="'/'+PRODUCT">Nos produits</a>
    </li>
    <li>
      <a>Nous contacter</a>
    </li>
    <li class="btnContainer">
      <button class="btn" id="inscrire">S'inscrire</button>
      <button class="btn" id="connexion">Connexion</button>
    </li>
  </ul>
</nav>
</router-outlet>
<footer></footer>
