<header></header>
<router-outlet>
<nav>
  <a [routerLink]="'/'+ACCUEIL">
    <img src="{{logoPath}}" width="100px" height="100px"/>
  </a>
  <ul>
    <li>
      <a [routerLink]="'/'+ACCUEIL">Accueil</a>
    </li>
    <li class="items">
      <a [routerLink]="'/'+PRODUCT">Nos produits</a>
    </li>
    <li>
      <a [routerLink]="'/'+CONTACT">Nous contacter</a>
    </li>
    <li class="btnContainer">
      <div *ngIf="isConnected() == true || isConnectedAdmin() == true;then connected else notConnected"></div>

      <ng-template #connected>
          <button class="btn" [routerLink]="'/'+ACCUEIL" (click)="logout() || logoutAdmin()">Déconnexion</button>
          <button class="btn" [routerLink]="'/'+PANIER">Panier</button>
        </ng-template>
        <ng-template #notConnected>
          <button class="btn" id="connexion" [routerLink]="'/'+LOGIN">Connexion</button>
        </ng-template>
    </li>
  </ul>
</nav>
</router-outlet>
<footer></footer>
