<ul>
  <li *ngFor="let cg of carteGList; index as i">
    <div class="card" >
      <img src="{{cg.img}}"/>
      <div [id]=i>
        <table>
          <tr>
            <b class="nom">{{cg.nom}}</b>
          </tr>
          <tr>
            <b class="description">{{cg.marque}} - {{cg.frequence}}</b><br>
          </tr>
          <br><br>
          <tr>
            <b class="prixI" id="prix">{{cg.prix}} €</b>
          </tr>
        </table>
      </div>
      <button class="btnShow" (click)="AffichageCarteG(cg,i)">Afficher le produit</button>
    </div>
  </li>
</ul>
