.form{
  padding: 5px;
  width: 24%;
  border-radius: 8px;
  border: solid;
  margin-left: 38%;
}

h2{
  text-align: center;
  font-size: 40px;
  color: dodgerblue;
  text-decoration: underline;
}

button{
  margin-left: 35%;
  border: none;
  border-radius: 8px;
  background-color: dodgerblue;
  font-size: 20px;
  color: white;
}

label{
  text-align: center;
}

input{
  border-radius: 5px;
}
