<form [formGroup]="form" (ngSubmit)="createUser($event)" class="form">

  <label for="name">Nom :</label>
  <input type="text"  formControlName="name" id="name">
  <br>
  <label for="firstName">Prénom :</label>
  <input type="text" formControlName="firstName" id="firstName">
  <br>
  <label for="mail">E-mail :</label>
  <input type="text" formControlName="mail" id="mail">
  <br>
  <label for="mdp">Mot de passe :</label>
  <input type="text" formControlName="mdp" id="mdp">
  <br>
  <label for="mdpC">Confirmer mot de passe :</label>
  <input type="text" formControlName="mdpC" id="mdpC">
  <br>
  <label for="tel">Télephone :</label>
  <input type="text" formControlName="tel" id="tel">
  <br>
  <label for="rue">Rue :</label>
  <input type="text" formControlName="rue"  id="rue">
  <br>
  <label for="num">Numéro :</label>
  <input type="text" formControlName="num" id="num">
  <br>
  <label for="cp">Code postal :</label>
  <input type="text" formControlName="cp" id="cp">
  <br>
  <label for="ville">Ville :</label>
  <input type="text" formControlName="ville" id="ville">
  <br>
  <button [disabled]="!form.valid">Inscription</button>

</form>
