<ul>
  <li *ngFor="let dd of disqueDList; index as i">
    <div class="card" >
      <img src="{{dd.img}}"/>
      <div [id]=i>
        <table>
          <tr>
            <b class="nom">{{dd.nom}}</b>
          </tr>
          <tr>
            <b class="description">{{dd.marque}} - {{dd.capacite}}</b><br>
          </tr>
          <br><br>
          <tr>
            <b class="prixI" id="prix">{{dd.prix}} €</b>
          </tr>
        </table>
      </div>
      <button class="btnShow" (click)="AffichageDisqueD(dd,i)">Afficher le produit</button>
    </div>
  </li>
</ul>
