
<div class="filter">
  <label for="recherche">Rechercher un processeur particulier : </label>
  <input type="text" [(ngModel)]="nameSearched" id="recherche">
  <div *ngFor="let typeFilter of TYPE_FILTER">
    <label [for]="typeFilter.id">{{typeFilter.id}}</label>
    <input type="radio" [id]="typeFilter.id" name="filter" [value]="typeFilter.value"
           [(ngModel)]="filterSelected">
  </div>
</div>

<ul>
  <li *ngFor="let proc of filteredProcList ; index as i" >
    <div class="card">
      <img src="{{proc.img}}"/>
        <div [id]=i>
        <table>
          <tr>
            <b class="nom">{{proc.nom}}</b>
          </tr>
          <tr>
            <b class="description">{{proc.marque}} - {{proc.frequence}}</b><br>
          </tr>
          <br><br>
          <tr>
            <b class="prixI" id="prix">{{proc.prix}} €</b>
          </tr>
        </table>
      </div>
    <button class="btnShow" (click)="AffichageProc(proc,i)">Afficher le produit</button>
    </div>
  </li>
</ul>
