<ul>
  <li *ngFor="let proc of procList; index as i">
    <div class="card" >
      <img src="{{proc.img}}"/>
        <div [id]=i>
        <table>
          <tr>
            <b class="nom">{{proc.nom}}</b>
          </tr>
          <tr>
            <b class="description">{{proc.marque}} - {{proc.frequence}}</b><br>
          </tr>
          <br><br>
          <tr>
            <b class="prixI" id="prix">{{proc.prix}} €</b>
          </tr>
        </table>
      </div>
    <button class="btnShow" (click)="AffichageProc(proc,i)">Afficher le produit</button>
    </div>
  </li>
</ul>

