.processeur{
  margin-left: 10%;
  margin-top: 15%;
  float: left;
}

.disqueD{
  margin-top: 15%;
  margin-left: 10%;
  float: left;
}

.carteG{
  margin-top: 15%;
  margin-left: 10%;
  float: left;
}

.ordinateur{
  margin-top: 15%;
  margin-left: 10%;
  float: left;
}
