.processeur{
  margin-left: 5%;
  margin-top: 5%;
  float: left;
}

.disqueD{
  margin-top: 5%;
  margin-left: 5%;
  float: left;
}

.carteG{
  margin-top: 5%;
  margin-left: 5%;
  float: left;
}

.ordinateur{
  margin-top: 5%;
  margin-left: 5%;
  float: left;
}

button{
  margin-left: 2%;
  background-color: dodgerblue;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  font-size: 15px;
}

ul{
  list-style: none;
  margin-top: 10%;
}

.addbtn{
  margin-top: 2%;
}

input{
  border-radius: 5px;
}
