<div class="filter">
  <h3>FILTRE EN FONCTION DU PRIX : </h3>
  <div class="filterPrixProc">
    PRIX :
    <div *ngFor="let typeFilter of TYPE_FILTER_PRIX">
      <label [for]="typeFilter.id">{{typeFilter.id}}</label>
      <input type="radio" [id]="typeFilter.id" name="filterProc" [value]="typeFilter.value"
             [(ngModel)]="filterSelectedPrix">
    </div>
  </div>
  <h3>FILTRES DISQUES DUR : </h3>
  <div class="filterSSDDD">
    SSD :
    <div *ngFor="let typeFilterSSD of TYPE_FILTER_SSD">

      <label [for]="typeFilterSSD.id">{{typeFilterSSD.id}}</label>
      <input type="radio" [id]="typeFilterSSD.id" name="filterSSDDD" [value]="typeFilterSSD.value"
             [(ngModel)]="filterSelectedSSD">
    </div>
  </div>
  <div class="filterMarque">
    Marques :
    <div *ngFor="let typeFilterMDD of TYPE_FILTER_MARQUE_DISQUED">

      <label [for]="typeFilterMDD.id">{{typeFilterMDD.id}}</label>
      <input type="radio" [id]="typeFilterMDD.id" name="filterMarquesDD" [value]="typeFilterMDD.value"
             [(ngModel)]="filterSelectedMarqueDD">
    </div>
  </div>
  <div class="filter">
    <h3>FILTRES ORDINATEUR : </h3>
    <div class="filterMarqueOrdi">
      Marques :
      <div *ngFor="let typeFilterMOrdi of TYPE_FILTER_MARQUE_ORDI">

        <label [for]="typeFilterMOrdi.id">{{typeFilterMOrdi.id}}</label>
        <input type="radio" [id]="typeFilterMOrdi.id" name="filterMarquesOrdi" [value]="typeFilterMOrdi.value"
               [(ngModel)]="filterSelectedMarqueOrdi">
      </div>
    </div>
  </div>
  <div class="filter">
    <h3>FILTRES PROCESSEURS : </h3>
    <div class="filterNomProc">
      <label for="recherche">Rechercher un processeur particulier : </label>
      <input type="text" [(ngModel)]="nameSearched" id="recherche">
    </div>

    <div class="filterMarqueProc">
      MARQUES :
      <div *ngFor="let typeFilterMarque of TYPE_FILTER_MARQUE_PROC">
        <label [for]="typeFilterMarque.id">{{typeFilterMarque.id}}</label>
        <input type="radio" [id]="typeFilterMarque.id" name="filterMarqueProc" [value]="typeFilterMarque.value"
               [(ngModel)]="filterSelectedMarqueProc">
      </div>
    </div>
  </div>
</div>
<!-- *********************************************** CARTES GRAPHIQUES *********************************************** -->
<div class="carteGg">
  <ul>
    <li class="cg" *ngFor="let cg of filteredCarteG; index as i">
      <div class="card" >
        <img src="{{cg.img}}"/>
        <div *ngIf="i==icg; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
          <table>
            <tr>
              <b class="nomPC">{{cg.nom}}</b>
            </tr>
            <br><br>
            <tr>
              <b class="prixICG" >{{cg.prix}} €</b>
            </tr>
            <tr>
              <b class="freq" >{{cg.frequence}} </b>
            </tr>
            <tr>
              <b class="freq" >{{cg.marque}} </b>
            </tr>
            <tr>
              <b class="freq" >{{cg.memoireVideo}} </b>
            </tr>
          </table>
            <button (click)="changeretroICG(i)">Afficher moins</button>
          </ng-template>
          <ng-template #elseBlock>
            <table>
              <tr>
                <b class="nomPC">{{cg.nom}}</b>
              </tr>
              <tr>
                <b class="prixICG" >{{cg.prix}} €</b>
              </tr>
              <br><br>
            </table>
            <button (click)="changeICG(i)">Afficher plus</button>
          </ng-template>
      </div>
    </li>
  </ul>
</div>
<!-- *********************************************** DISQUE DUR *********************************************** -->
<div class="disque">
  <div class="disqueD">
    <ul>
      <li class="dd" *ngFor="let dd of filteredDisqueD; index as i">
        <div class="card" >
          <img src="{{dd.img}}"/>
          <div *ngIf="i==iDD; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <table>
                <tr>
                  <b class="nom">{{dd.nom}}</b>
                </tr>
                <br><br>
                <tr>
                  <b class="prixI" >{{dd.prix}} €</b>
                </tr>
                <tr>
                  <b class="prixI">{{dd.ssd}} </b>
                </tr>
                <tr>
                  <b class="prixI">{{dd.marque}} </b>
                </tr>
                <tr>
                  <b class="prixI">{{dd.interne}} </b>
                </tr>
                <tr>
                  <b class="prixI">{{dd.capacite}} </b>
                </tr>
              </table>
              <button (click)="changeretroDD(i)">Afficher moins</button>
            </ng-template>
          <ng-template #elseBlock>
            <table>
              <tr>
                <b class="nom">{{dd.nom}}</b>
              </tr>
              <br><br>
              <tr>
                <b class="prixI">{{dd.prix}} €</b>
              </tr>
            </table>
            <button (click)="changeDD(i)">Afficher plus</button>
          </ng-template>
        </div>
      </li>
    </ul>
  </div>
</div>
<br><br>
<!-- ************************************* ORDINATEUR ***********************************************-->
<div class="ordinateurAll">
  <div class="ordinateur">
    <ul>
      <li class="ordi" *ngFor="let ordi of filteredOrdinateur; index as i">
        <div class="card" >
          <img src="{{ordi.img}}"/>
          <div *ngIf="i==iOrdi; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <table>
              <tr>
                <b class="nom">{{ordi.nom}}</b>
              </tr>
              <br><br>
              <tr>
                <b class="prixI">{{ordi.prix}} €</b>
              </tr>
              <tr>
                <b class="prixI">{{ordi.marque}} </b>
              </tr>
              <tr>
                <b class="prixI">{{ordi.description}} </b>
              </tr>
              <tr>
                <b class="prixI">{{ordi.capacite}} </b>
              </tr>
              <tr>
                <b class="prixI">{{ordi.nomCg}} </b>
              </tr>
              <tr>
                <b class="prixI">{{ordi.nomProc}} </b>
              </tr>
              <tr>
                <b class="prixI">{{ordi.ssd}} </b>
              </tr>
              <tr>
                <b class="prixI">{{ordi.capaciteSsd}} </b>
              </tr>
            </table>
            <button (click)="changeretroIOrdi(i)">Afficher moins</button>
          </ng-template>
          <ng-template #elseBlock>
            <table>
              <tr>
                <b class="nom">{{ordi.nom}}</b>
              </tr>
              <br><br>
              <tr>
                <b class="prixI">{{ordi.prix}} €</b>
              </tr>
            </table>
            <button (click)="changeIOrdi(i)">Afficher plus</button>
          </ng-template>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- *********************************************** PROCESSEUR *********************************************** -->
<div>
  <div class="processeur">
    <ul>
      <li class="proc" *ngFor="let proc of filteredProcList ; index as i" >
        <div class="card">
          <img src="{{proc.img}}"/>
          <div *ngIf="i==iProc; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <table>
              <tr>
                <b class="nom">{{proc.nom}}</b>
              </tr>
              <br><br>
              <tr>
                <b class="prixI">{{proc.prix}} €</b>
              </tr>
              <tr>
                <b class="prixI">{{proc.marque}} </b>
              </tr>
              <tr>
                <b class="prixI">{{proc.frequence}} </b>
              </tr>
              <tr>
                <b class="prixI">{{proc.nbCoeurs}} </b>
              </tr>
            </table>
            <button (click)="changeretroProc(i)">Afficher moins</button>
          </ng-template>
          <ng-template #elseBlock>
            <table>
              <tr>
                <b class="nom">{{proc.nom}}</b>
              </tr>
              <br><br>
              <tr>
                <b class="prixI">{{proc.prix}} €</b>
              </tr>
            </table>
            <button (click)="changeProc(i)">Afficher plus</button>
          </ng-template>
        </div>
      </li>
    </ul>
  </div>
</div>
