.btnShow{
  background-color: limegreen;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
  outline: 0;
  margin-left: 45%;
  margin-top: 0.5%;
}

.btnShow:hover{
  transform: scale(1.01);
}

.btnShow:active{
  transform: scale(0.98);
}

.card{
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 20%;
  width: 400px;
}

.description{
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
}

img{
  float: left;
  height: 150px;
  width: 30%;
}

.nom{
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
}

.prixICG{
  color: red;
  font-size: 35px;
}

.prixIReduc{
  color: black;
  font-size: 20px;
  text-decoration: line-through;
}

.reduction{
  color: black;
  font-size: 15px;
}

table{
  float: left;
  margin-left: 4%;
}

ul{
  list-style: none;
  margin-top: 10%;
}


.prixIDD{
  color: red;
  font-size: 25px;
}

.reduction{
  color: black;
  font-size: 0px;
}

table{
  float: left;
  margin-left: 4%;
}

.filter{
  margin-top: 1%;
  margin-left: 2%;
  width: 200px;
  float: left;
}

.filterSSDDD{
  margin-top: 1%;
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  width: 200px;
  height: auto;
}
.filterMarque{
  margin-top: 1%;
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  width: 200px;
  height: auto;
}

.filterMarqueOrdi{
  margin-top: 1%;
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  width: 200px;
  height: auto;
}

.filterPrix{
  margin-top: 1%;
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  width: 200px;
  height: auto;
  float: bottom;
}

.disqueD{
  margin-top: 15%;
  margin-left: 15%;
  width: 1000px;
  float: bottom;

}
.dd{
  float: left;
  margin-left: 2%;
}

.filterNomProc{
  margin-top: 1%;
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  width: 200px;
  height: auto;

}
.filterPrixProc{
  margin-top: 1%;
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  width: 200px;
  height: auto;

}
.filterMarqueProc{
  margin-top: 1%;
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  width: 200px;
  height: auto;

}

.filterPrixOrdi{
  margin-top: 1%;
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  width: 200px;
  height: auto;
}

.processeur{
  margin-top: 10%;
  margin-left: 15%;
  width: 1000px;
  float: bottom;
}

.proc{
  float: left;
  margin-left: 2%;
}

.disque{
  float: bottom;
}

.ordinateur{
  margin-left: 15%;
  width: 1000px;
}
.ordi{
  float: left;
  margin-left: 2%;
}
.nomPC{
  font-family: 'Yantramanav', sans-serif;
  font-size: 10px;
}
.descriptionPC{
  font-family: 'Yantramanav', sans-serif;
  font-size: 10px;
}
