<div class="panier" style="margin-top: 20%">
  <ul>
    <div *ngFor="let procp of panierPList">
      <li *ngFor="let proc of _procList">
        <div class="card" *ngIf="proc.nom == procp.nom;then thenBlock"></div>
          <ng-template #thenBlock>
            <img src="{{proc.img}}"/>
            <div>
              <table>
                <tr>
                  {{proc.nom}}
                </tr>
                <tr>
                  {{proc.prix}}
                </tr>
              </table>
            </div>
            <button>Supprimer du panier</button>
          </ng-template>
      </li>
    </div>
  </ul>

  <ul>
    <li *ngFor="let dd of panierDDList">
      <div class="card">
        <img src="{{dd.img}}"/>
        <div>
          <table>
            <tr>
              {{dd.nom}}
            </tr>
            <tr>
              {{dd.prix}}
            </tr>
          </table>
        </div>
        <button>Supprimer du panier</button>
      </div>
    </li>
  </ul>

  <ul>
    <div *ngFor="let paniercg of panierCGList">
      <li *ngFor="let CG of carteGList">
        <div class="card" *ngIf="CG.nom == paniercg;then thenBlock"></div>
        <ng-template #thenBlock>
          <img src="{{CG.img}}"/>
          <div>
            <table>
              <tr>
                {{CG.nom}}
              </tr>
              <tr>
                {{CG.prix}}
              </tr>
            </table>
          </div>
          <button>Supprimer du panier</button>
        </ng-template>
      </li>
    </div>
  </ul>

  <ul>
    <li *ngFor="let ordi of panierOrdiList">
      <div class="card">
        <img src="{{ordi.img}}"/>
        <div>
          <table>
            <tr>
              {{ordi.nom}}
            </tr>
            <tr>
              {{ordi.prix}}
            </tr>
          </table>
        </div>
        <button>Supprimer du panier</button>
      </div>
    </li>
  </ul>

  <b>Total: {{total}}</b>
  <!--[routerLink]=""-->
  <button>Confirmer l'achat</button>
</div>
